* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qrbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Memusatkan konten di tengah layar */
}

img {
  border: 5px solid black;
  width: 200px; /* Ukuran gambar QR */
  height: 200px;
}

textarea {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: 5px solid black;
  margin: 10px 0; 
}

button {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border-radius: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(40, 40, 40);
  transition: 0.2s;
}

button:active {
  background-color: rgba(40, 40, 40, 0.5);
}